body{
    margin: 0;
    padding: 0;
    background-color: rgb(212, 229, 232);
    font-family:'Courier New', Courier, monospace;
   /* display: flex;
    justify-content: center;*/
}

h1{
    font-size: 36px;
}

p{
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 20px auto;
    background-color: azure;
    flex-direction: column;
    display: flex;
    height: 50%;
    text-align: center;
    padding: 20px;
}


@media (max-width: 768px){
    h1{
        font-size: 26px;
    }
    p{
        font-size: 20px;
    }
    .container{
        width: 90%;
        padding: 0px;
    }

}   