*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 253, 240);
}
.container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(211, 220, 187);
    height: 480px;
    width: 500px;
    box-shadow: 0px 3px 10px;
}

h1{
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 42px;
    font-family: monospace;
}

label{
    font-family: monospace;
    font-size: 18px;
}

input{
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    height: auto;
    width: 160px;
}


button{
    margin-top: 10px;
    background-color: rgb(68, 101, 173);
    color: rgb(228, 228, 228);
    width: 80px;
    height: 30px;
    margin: 20px;
    border-radius: 3px;
}

.error{
    color: red;
    font-family: monospace;
    font-size: 16px;
    transition: opacity 0.5s ease-in;
}

.sucess{
    color: rgb(0, 152, 0);
    font-family: monospace;
    font-size: 16px;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}
