body{
    margin: 0px;
    background-color: rgb(137, 231, 255);
}

.topo{
    background-color: hsl(198, 100%, 93%);
}

button.botao{
    font-size: 30px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(132, 192, 237, 0.901);
}