<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Exemplo html/ javascript</title>
        <meta charset="UTF-8" />

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>{{numero}}</h1>

            <Button @click="addValor">+1</Button>
        </div>
        <script src="process_index.js""></script>
    </body>
</html>