<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" /> <!--Para ser compatível com outros navegadores-->
        <meta name="viewport" content="width-device-width, initial-scala=1.0" /> <!--Alterar escala para outros dispositivos-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--Biblioteca Vue-->
        <link rel="stylesheet" href="style.css" />

        <title>Calculadora</title>
    </head>
    <body>
        <div id="app">
            <div class="calculadora">
                <div class="tela">
                {{display}} <!--Definir variável-->
                </div> <!--Fechamento div class "tela"-->
                <div class="botao">
                    <div class="linhas1"><!--Linha 5 top-->

                        <button class="outros" @click="handleClear()">CE</button>

                    </div><!--Fechamento linha 5 top-->

                    <div class="linhas">
                        <button @click="handleButtonClick('7')">7</button>
                        <button @click="handleButtonClick('8')">8</button>
                        <button @click="handleButtonClick('9')">9</button>
                        <button class="operadores" @click="handleButtonClick('/')">/</button>
                        
                    </div><!--Fechamento div class "linhas"-->

                    <div class="linhas">
                        <button @click="handleButtonClick('4')">4</button>
                        <button @click="handleButtonClick('5')">5</button>
                        <button @click="handleButtonClick('6')">6</button>
                        <button class="operadores" @click="handleButtonClick('*')">*</button>
                    </div><!--Linha 2-->
                    <div class="linhas">
                        <button @click="handleButtonClick('1')">1</button>
                        <button @click="handleButtonClick('2')">2</button>
                        <button @click="handleButtonClick('3')">3</button>
                        <button class="operadores" @click="handleButtonClick('-')">-</button>
                    </div><!--Linha 3-->
                    <div class="linhas">
                        <button class="outros" @click="handleButtonClick('.')">.</button>
                        <button @click="handleButtonClick('0')">0</button>
                        <button class="outros" @click="handleButtonClick('=')">=</button>
                        <button class="operadores" @click="handleButtonClick('+')">+</button>
                    </div><!--Linha 4-->

                </div><!--Fechamento div class "botao"-->
                
            </div><!--Fechamento div class="calculadora"-->
        </div><!--Fechamento div id="app"-->
        <script src="process.js"></script>
    </body>
</html>