.calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-image: linear-gradient(rgb(73, 61, 197), rgb(12, 8, 58));
    border: 6% solid #000000;
    border-radius: 6px;
    padding: 40px;
    height: 350px;
    width: 200px;
    color: rgb(22, 26, 24);
}/*Fechamento calculadora*/
.tela{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    font-size: 2rem;
    width: 190px;
    height: 4px;
    margin-bottom: 30px;
    border: 3px solid #bfbfff;
    padding: 30px;
    border-radius: 4px;
    background-color: rgb(142, 147, 211);
    color: rgb(0, 0, 0);
} /*fechamento da class "tela"*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
} /*fechamento class "botao"*/

.linhas{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    
}/*Fechamento class "colunas"*/

.operadores{
    background-color: #2c5786;
    color:#f5f5f5;
    border: 2px solid;

}/*Fechamento operadores*/

.outros{
    background-color: #5b66a6;
    color: #f5f5f5;
    border: 2px solid #f7edea;
}

.linhas1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 180px;
    align-items: end;
    
    
}

button{
    background-color: rgb(119, 159, 234);
    border: 2px solid white;
    height: 35px;
    width: 35px;
    margin: 5px;
    cursor: pointer;
}



button:hover{
    background-color:#f5f5f5;
    color:rgb(0, 0, 0)
}