body{
    background-color:rgb(255, 255, 255);
    margin: 0%; 
}
.linhaImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    background-color: #eeeeee;
    width: 1460px;
    height: 490px;
}

.imagemNet{
    margin-left: 10px;
    max-width: 720px;
    max-height: 480px;
    height: auto;
    width: auto;
}

.imagem{
    max-width: 720px;
    max-height: 480px;
    height: auto;
    width: auto;
}

.linhaBotao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

button.botaoImg{
    background-color: #0d4bc9;
    border: 0px;
    border-radius: 10px;
    color: #cfd7e7;
    margin-top: 30px;
    padding: 16px;
    cursor: pointer;
    font-size: 28px;
}
button.botaoImg:hover{
    background-color: #0d3c9a;
}
